rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /inquiries/{inquiryId} {
      allow create: if 'name' in request.resource.data && 'email' in request.resource.data && 'message' in request.resource.data && 'service' in request.resource.data && 'status' in request.resource.data && 'createdAt' in request.resource.data && request.resource.data.status == 'new' && request.resource.data.createdAt == request.time;
      allow get, list, update, delete: if request.auth != null;
    }
  }
}
